@use '../../../styles/styles' as *


.photo

    padding: $space
    +grid($flow: row, $wrap: wrap, $gap: $space)
    


.image
    flex: 75%
    +grid($flow: column, $wrap: nowrap, $gap: 0)
    justify-content: center
    
    

    img
        flex: 100% auto
        object-fit: fill
        transition-delay: 0.5s
    

.info
    +grid($flow: column, $wrap: nowrap, $gap: 0)
    flex: 20%

    div
        flex: 1
        +grid($flow: row, $wrap: wrap, $gap: 0)
        align-items: center
        justify-content: center

        *
            flex: 100%

.details
    align-content: flex-end

    h2
        padding-block: $space
  

.caption
    padding: $space


