@use '../../styles/styles' as *

//RESET all padding/margin values
*
    margin-block: 0
    margin-inline: 0
    padding-block: 0
    padding-inline: 0
    box-sizing: border-box
    
.app
    line-height: 150%
    font: 
        family: $font
        size: $size
        weight: 400

img
    width: 100%
    height: auto