=grid($flow: row)
    display: flex
    flex-direction: $flow
#row
    +grid


#column
    +grid($flow: column)

.wrap
    flex-wrap: wrap
    gap: 1rem

.nowrap
    flex-wrap: nowrap
    gap: 1rem



