@use '../../styles/styles' as *

.links
    +grid($flow: row, $wrap: wrap, $gap: $space)
    align-content: space-around
    justify-content: center
    
    height: 1.5rem 

         
        
    span
        padding-inline: $space
        background-color: hsl(333, 80%, 80%)
        flex: 0 1 auto

        a
            padding: 0.5rem
            font-size: 1.02rem
